.nav-container {
  padding: 30px 20px;
  margin-bottom: 20px;
}

.bg-image-light {
  background-image: url("./img/bg2.png");
  background-repeat: no-repeat;
}

.ul-main {
  margin: 30px 100px;
}

.pokeName {
  font-family: "Permanent Marker", cursive;
}
